#man{
    font-family: 'Shadows Into Light', cursive;
    font-weight: normal;
}
#create{
    font-family: 'Shadows Into Light', cursive;
    font-weight: normal;
}
#manners{
    font-family: 'Shadows Into Light', cursive;
    font-family: 'Indie Flower', cursive;
    font-weight: normal;
}
.pala{
    font-family: 'Indie Flower', cursive;
    font-weight: normal;
}
.leher{
    font-family: 'Indie Flower', cursive;
    font-weight: normal;
}
.lead{
    font-family: 'Indie Flower', cursive;
    font-weight: normal;
}